/* font */
slides > slide p,
slides > slide ul,
slides > slide ol,
slides > slide li {
    text-transform: none;
    font-family: arial, helvetica, sans-serif;
    font-size: larger;
    color: black;
}

slides > slide h2 {
  color: darkblue;
  font-size: 180%;
}
/* https://github.com/ajlyons/rpres_css 
.reveal h1, .reveal h2, .reveal h3 {
  word-wrap: normal;
  -epub-huphens: none;
}
*/

.footer {
/*    color: black; background: #E8E8E8; */
    position: fixed; top: 89%;
    text-align:left; width:100%;
    font-size: 50%;
}

.footer-2 {
/*    color: black; background: #E8E8E8; */
    position: fixed; top: 85%;
    text-align:left; width:100%;
    font-size: 50%;
}
/*
<div class="footer" style="margin-top:-150px;font-size:80%;">
This text is my footer text<br>
Normally, the top of the text block would appear 90% of the way down the slide (i.e., at the bottom), because that is how the 'top' property is defined in the 'footer' style. However this particular footer wraps onto multiple lines, so we shift it up by specifying a negative value for the 'margin-top' property.
</div>
<div class="footer">This block of text will appear with the 'footer' style</div>
*/

.midcenter {
    position: fixed;
    top: 50%;
    left: 50%;
}
/*
<div class="midcenter" style="margin-left:-300px; margin-top:-300px;">
<img src="flowchart_600x600.png"></img>
</div>
*/

/*
<span style="font-weight:bold; color:red;">This text will appear red and bold</span>
*/

