/*** font ***/
/* all */
slides > slide.title-slide h1,
slides > slide.title-slide h2,
slides > slide.title-slide h3,
#myinfo {
    text-transform: none;
    font-family: arial, helvetica, sans-serif;
    color: #FFFFFF;
}
/* main title */
slides > slide.title-slide h1 {
    font-fize: 84pt;
    font-weight: bold;
    color: black;
}
/* subtitle */
slides > slide.title-slide h2 {
    font-size: 28pt;
    font-style: italic;
    color: black;
}
/* date */
slides > slide.title-slide h3 {
    font-size: 18pt;
    color: black;
}
/* main title, subtitle and date */
slides > slide.title-slide hgroup {
    text-align: right;
}
/* organization info */
#myinfo {
    align: left;
    font-size: 16pt;
    margin-top: 180px;
}

/*** images ***/
/* organization logo */
.mylogo {
    border: none;
    background-color: transparent;
    box-shadow: none;
}
.mylogo #mylogo-title {
    all: inherit;
    width: 148px;
    height: 148px;
    align: left;
    margin-top: 180px;
}