/* font */
/*slides > slide h2,*/
slides > slide p,
slides > slide ul,
slides > slide ol,
slides > slide li {
    text-transform: none;
    font-family: arial, helvetica, sans-serif;
    font-size: larger;
    color: #FFFFFF;
}

h1 {color: white;}

h2 { 
 color: #ffff66;		
}
h3 { 
 color: #3399ff;		
}